/.gradle/

.idea/**
### Add the codestyle to the repo
!/.idea/codeStyles
!/.idea/codeStyles/*
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
### Add the inspectionProfiles to the repo
!/.idea/inspectionProfiles
!/.idea/inspectionProfiles/Project_Default.xml

**/build/
**/bin/
!.run/Allay.run.xml
#runing output file
.run/**
/Allay-Server/caches/
/Allay-Server/logs/
/Allay-Server/players/
/Allay-Server/resource_packs/
/Allay-Server/server-settings.yml
/Allay-Server/worlds/
/jegenerator/
/resource_packs/
/players/
/worlds/
/caches/
/logs/
/server-settings.yml
/Allay-Server/ban-info.yml
/Allay-Server/whitelist.yml
/.jacoco/
/.vscode/