<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="[%cyan{%d{HH:mm:ss} %level}] [%yellow{%t}] [%blue{%logger{0}}] %minecraftFormatting{%msg}%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/server.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="[%d{HH:mm:ss} %level] [%t] [%logger{0}] %replace{%msg}{§([0-9]|[a|b|c|d|e|f|k|l|o|r])}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <Sentry name="Sentry"
                dsn="https://3b05ad2e5f307e5ce587efe63b444e0a@o4508567898685440.ingest.us.sentry.io/4508567997972480"/>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Sentry"/>
        </Root>
    </Loggers>
</Configuration>